{% extends 'base.html.twig' %}

{% block title %}{{ user.userName}}  page{% endblock %}

{% block body %}
    <div class="d-flex justify-content-start ml-5">
        <div class="mr-5">
            <div>
                {% if page_owner.getAvatar != null %}
                    <img src="{{ asset('uploads/img/'~ page_owner.getAvatar) }}" alt="аватарка" height="200px" width="250px">
                {% else %}
                    <img src="{{ asset('1.jpg') }}" alt="аватарка" height="200px" width="250px">
                {% endif %}
                {% if status %}
                    <p class=""><a href="" class="btn btn-info mt-2"> Изменить профиль</a></p>
                {% else%}
                    {% if friendStatus == 'anon' %}
                        {{ form_start(formAddFriend) }}
                            <input class="btn btn-success" type="submit" value="добавить в друзья">
                        {{ form_end(formAddFriend) }}
                    {% elseif friendStatus == 'follower' %}
                        <p class="bg-info">Вы подписаны</p>
                        {{ form_start(formDeleteFriend) }}
                            <input class="btn btn-danger" type="submit" value="отписаться">
                        {{ form_end(formDeleteFriend) }}
                    {% elseif friendStatus == 'friend' %}
                        <p>в друзьях</p>
                        {{ form_start(formDeleteFriend) }}
                            <input class="btn btn-danger" type="submit" value="удалить из друзей">
                        {{ form_end(formDeleteFriend) }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="mr-5">
            <div class="info-user">
                <h4>{{ page_owner.getUsername }}</h4>
                <h5>Статус</h5>
                <p>день рождения:  {{ page_owner.getDOB }}</p>
                <p>город:  {{ page_owner.getCity }}</p>
                <p></p>
            </div>
            <div class="post-user">
                {{ form(form_post) }}
            </div>
            <div class="d-flex justify-content-center">
                <div>
                    <h3 class="text-center">Посты</h3>
                    {% for  post in posts  %}
                        <div class="border border-dark mt-3" style="width: 400px">
                            <p class="text-center">{{ post.getText }}</p>
                            <div class="d-flex justify-content-center">
                                <div>
                                    <img class="" src="{{ asset('uploads/img/'~ post.getImg) }}" alt="" width="300">
                                    {% if status %}
                                        {{ include('post/_delete_form.html.twig') }}
                                        <a class="ml-2" href="{{ path('post_edit', { id: post.getId }) }}">Изменить</a>
                                    {% endif %}
                                    {{ numberLikes }}
                                    {{ include('post/_like_post_form.html.twig') }}
                                    {{ include('post/_comment_post.html.twig') }}
                                    <div>
                                        {% for comment in post.comments %}
                                            <p>{{ comment.text }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
