<form class="mt-5 mb-5" method="post" action="{{ path('group_exclude', {'slug': group.slug}) }}" onsubmit="return confirm('Are you sure you want to exclude this follower?');">
    <img width="100px" src="{{ asset('uploads/img/'~ subscriber.user.avatar) }}" alt="">
    <p>{{ subscriber.user.userName }}{{ subscriber.user.surname }}</p>
    <input type="hidden" name="_token" value="{{ csrf_token('exclude' ~ group.slug) }}">
    <input type="hidden" name="user" value="{{ subscriber.user.slug }}">
    <button class="btn btn-danger">Исключить</button>
</form>
