{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    <h1>Список всех групп</h1>
    <a href="{{ path('group_new') }}">Создать свою группу</a>
    {% for group in groups %}
        <div class="mt-3 ">
            <a class="mt-1" href="{{ path('group_show', { slug: group.slug }) }}">{{ group.name }}</a><br>
            <a class="mt-1" href="{{ path('group_show', { slug: group.slug }) }}"><img src="{{ asset('uploads/img/' ~ group.img) }}" alt="" height="50px" width="70px"></a><br>
        </div>
    {% endfor %}
{% endblock %}
